.main {
  background-color: #081c15;
}

.create-playlist-container {
  background-color: #ffffff;
  margin: 4rem;
}

.scrollable-list {
  max-height: 60vh;
  overflow-y: auto;
  margin-top: 8px;
}

.like-dislike-section {
  text-align: center;
}

.like-dislike-label {
  font-weight: bold;
}

.like-dislike-buttons {
  margin-top: 10px;
}

.like-button,
.dislike-button,
.export-button {
  background-color: #45a25e;
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.like-button:hover,
.dislike-button:hover,
.export-button:hover {
  background-color: #66fc9f;
  color: #1f2833;
}

.instructions {
  font-weight: bold; /* Makes text bold */
  font-size: 24px; /* Set the font size as needed */
  color: #52b788; /* Sets the color */
  text-align: center;
  margin-top: 2rem;
}

.loading-bar {
  width: 100%;
  background-color: #f0dcca;
  border-radius: 5px;
}

.loading-progress {
  height: 20px;
  width: 25%; /* will have to grow as loading progresses */
  background-color: #f0dcca;
  border-radius: 5px;
}

.select-playlists {
  text-align: center;
  padding: 3rem;
  margin-top: 5rem;
  margin-right: 0;
  width: 70%;
  border: solid 1px #52b788;
  box-shadow: 0px 0px 15px 3px #52b788;
  position: relative;
}

.select-playlists::after {
  content: "";
  position: absolute;
  top: -4rem; /* Adjust to move the border further away */
  left: -4rem; /* Adjust to move the border further away */
  right: -4rem; /* Adjust to move the border further away */
  bottom: -4rem; /* Adjust to move the border further away */
  border: 2px solid black; /* Your detached border */
  z-index: -1;
}

.playlist-table {
  overflow: scroll;
  width: 100%;
  margin: 0 auto;
}

.playlist-table th:first-child {
  width: 0.5rem;
}

.playlist-table th {
  border-bottom: 1px solid #f0dcca;
  padding: 10px;
  text-align: left;
}

.playlist-table td {
  border-bottom: 1px solid #f0dcca;
  padding: 10px;
  text-align: left;
}

.playlist-table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.playlist-table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.playlist-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.playlist-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table-footer {
  margin-top: 3rem;
}

.sortify-music-btn {
  transition: box-shadow 0.3s ease-in-out;
  padding: 10px 20px;
  width: 12rem;
  background-color: #f0dcca;
  color: #3a9f57;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.sortify-music-btn:hover {
  box-shadow: 0 0 15px #06874f; /* Glowing effect */
}