/* 

--- 01 TYPOGRAPHY SYSTEM
-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
-Font Weights:
-Line heights:
-Letter spacing


--- 02 COLORS



--- 03 IMAGES 


--- 04 ICONS


--- 05 SHADOWS


--- 06 BORDER-RADIUS


--- 07 WHITESPACE
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 



!!!!USUALLY START WITH VISUAL TEXT STYLES
!!!!USE GENERAL RESET BEFORE YOU START STYLEING


 */
/* *********************** */
/* GENERAL COMPONENTS */
/* *********************** */

/* *********************** */
/* HEADER */
/* *********************** */

/* *********************** */
/* NAVIGATION */
/* *********************** */

/* *********************** */
/* HERO SECTION */
/* *********************** */

/* *********************** */
/* SECTION  */
/* *********************** */

/* *********************** */
/* SECTION  */
/* *********************** */

/* *********************** */
/* SECTION */
/* *********************** */

/* *********************** */
/* FOOTER */
/* *********************** */
